
      #left-col{
        float: left;
        margin-left: 2.5%;
        width: 61.5%;
        text-align: justify;
      }
      #right-col{
        float: right;
        margin-right: 2.5%;
        width: 31.5%;
        text-align: justify;
      }
      