/* @charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
 */


/* video {
  width: 80%;
  height: 80%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
} */


/* 
#progressBar {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border: none;
  border-radius: 5px;
}

#progressBar::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 5px;
}

#progressBar::-webkit-progress-value {
  background-color: #0078d7; 
  border-radius: 5px;
}

#progressBar::-moz-progress-bar {
  background-color: #0078d7; 
  border-radius: 5px;
} */

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* z-index: -1; */
}

#cthulbernetes-indicator {
  color: green;
  animation: flash 3s infinite;
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  text-align: center;
}

#terminal-card {
  /* middle of screen */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 80%; */
  /* height: 80%; */
  color: white;
  --font-color: #ffffff; 
}

:root {
  background-color: black;
}

.progress-bar {
  width: 100%;
  background-color: #cf1d1d;
  border-radius: 2px;
  margin-top: 20px;
}

.progress-bar-filled {
  width: 60%; /* Adjust this for the actual progress */
  height: 20px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 20px;
  color: white;
}

